Problem with binary data

I am writing a Smugmug photo uploader using rauth (nice library, thank you). However, I have encountered a problem.

The API specifies I attach the image as the main body:

```
data = open('image.jpg', 'rb').read()
response = smugmug.put('http://upload.smugmug.com/image.jpg',
   data=data,
   access_token=access_token,
   access_token_secret=access_token_secret,
   header_auth = True,
   headers={'X-Smug-AlbumID':str(album_id), 'X-Smug-Version':'1.2.2', 'X-Smug-ResponseType':'JSON'})
```

This mostly does not work and Smugmug responds that the signature is invalid. However, it somehow worked with one tiny (5x5) sample image, so I dug into the code to find the problem. Apparently in SignatureMethod._normalize_request_parameters(), the binary data gets detected as a string, and this causes it to be passed to the parse_qsl() method. Now for most images, the parse_qsl() method returns some kind of re-encoded version of the binary data, but for the tiny sample image it returns nothing, [ ]. 

Apparently Smugmug doesn't want the data to be included in the signature, and if parse_qsl() returns nothing, it is correctly excluded and everything works. For other images, the bindary data gets included and the signature is wrong.

If I add 

```
normalized = []
```

right after

```
normalized = parse_qsl(request.data)
```

then uploading works.

Is Smugmug wrong to exclude the data? Or is rauth wrong to include it (in such a form at least)? Checking the OAuth specification, it says:

```
The request parameters are collected, sorted and concatenated into a normalized string:
   Parameters in the OAuth HTTP Authorization header excluding the realm parameter.
   Parameters in the HTTP POST request body (with a content-type of application/x-www-form-urlencoded).
   HTTP GET parameters added to the URLs in the query part (as defined by [RFC3986] section 3).
```

Technically, it doesn't say anything about the body/data of a PUT request. However, Smugmug specification allows POST as well and that has the same symptoms.
